<% provide(:title, t('site.page.authenticate_2fa')) -%>
<div class="container mb-5">
  <div class="row">
    <div class="jumbotron col-12">
      <h3><%= t('site.page.authenticate_2fa') %></h3>
      <p>You activated two-factor authentication for your account by registering one or more FIDO U2F devices.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div id="waiting" class="card">
        <div class="card-header">
          FIDO U2F Authentication
        </div>
        <div class="card-body">
          <p class="card-text">Please insert one of your registered FIDO U2F devices and press its button within 15 seconds...</p>
          <%= link_to 'Cancel', root_path(), class: "btn btn-secondary" %>
        </div>
      </div>
      <div id="error" class="d-none card border-danger">
        <div class="card-header">
          FIDO U2F Authentication Error
        </div>
        <div class="card-body">
          <p id="error-text" class="card-text text-danger">None</p>
          <%= link_to 'Cancel', root_path(), class: "btn btn-secondary" %>
          <%= link_to 'Try again', new_user_fido_usf_authentication_path(), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_tag user_fido_usf_authentication_path(), method: 'post' do %>
  <%= hidden_field_tag :response %>
<% end %>
<%= javascript_tag nonce: true do -%>
  var appId = <%= @app_id.to_json.html_safe %>;
  var signRequests = <%= @sign_requests.to_json.html_safe %>;
  var challenge = <%= @challenge.to_json.html_safe %>;
  var $waiting = document.getElementById('waiting');
  var $error = document.getElementById('error');
  var $error_text = document.getElementById('error-text');
  var errorMap = {
    1: 'Unknown error, try again',
    2: "Bad request error, try again" ,
    3: "This key isn't supported, please try another one",
    4: 'The device is is not registered, please register first.',
    5: 'Authentication timed out. Please reload to try again.'
  };
  var setError = function(code) {
    $waiting.className += ' d-none';
    $error.className = $error.className.replace(/\bd-none\b/g, '');
    $error_text.innerHTML = errorMap[code];
  };

  u2f.sign(appId, challenge, signRequests, function(signResponse) {
    var form, reg;

    if (signResponse.errorCode) {
      return setError(signResponse.errorCode);
    }

    form = document.forms[0];
    response = document.querySelector('[name=response]');

    response.value = JSON.stringify(signResponse);

    form.submit();
  }, 15);
<% end -%>
