<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? full_title(yield(:title)) : full_title('') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Example Application Standard description" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'cookies_eu/consent_banner', link: page_path(id: 'cookies') %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
